# Terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file (optional)
.terraform.lock.hcl

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor / OS files
.vscode/
.idea/
.DS_Store
